@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*,*::after,*::before{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
:root{
    --primary-linear-gradient:linear-gradient(to right,hsl(249, 99%, 64%),hsl(278, 94%, 30%));
    --primary-Red: hsl(0, 100%, 66%);
    --secondary-White: hsl(0, 0%, 100%);
    --secondary-lightGrayish-Violent:hsl(270, 3%, 87%);
    --secondary-drakGrayish-Violent: hsl(279, 6%, 55%);
    --secondary-veryDark-Violent: hsl(278, 68%, 11%);
}

body{
    font-family: 'Space Grotesk', sans-serif;
    font-weight:500;
}
button,
input{
    border:none;
    outline: none;
    font-family: inherit;
}
img{
    max-width: 100%;
    object-fit: cover;
}
h2,
h3,
span,
p{
    color:var(--secondary-White);
}
.card-components{
    background-image: url('images/bg-main-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    margin-bottom: 5em;
    position: relative;
}
.frontCard-component,
.backCard-component{
    position: absolute;
}
.frontCard-component{
    z-index:2;
    top: 7.3em;
    left:.7em;
}
.backCard-component{
  top:2em;
  left:2.5em;
}

.card-front,
.card-back{
    width:285px;
}

.card-logo{
    position: absolute;
    width:25%;
    z-index: 10;
    left:1em;
    margin-top:.8em;
}
.user-details{
    position: absolute;
    z-index:10;
    top:7em;
    display:  flex;
    justify-content: space-between;
    margin-inline: .7em;
    text-transform: uppercase;
}
.user-details h3{
    font-size:14px;
    margin-right:4.5em;
    word-break: break-all;
}

.frontCard-component h2{
    position: absolute;
    font-size:20px;
    top:3.5em;
    width:100%;
    text-align: center;
    letter-spacing: 1px;
}

.backCard-component .cvc-num{
    position: absolute;
    right:2.3em;
    top:4.5em;
    font-size:.9em;
}

.form-components{
    padding-inline:1.3em;
}

label{
    color:var(--secondary-veryDark-Violent);
    letter-spacing: 1px;
    text-transform: uppercase; 
    margin-bottom: .2em; 
    display: block;
}
input{
    display: block;
    width:80%;
    height:40px;
    margin-left: 1em;
    border:1px solid rgb(206, 203, 203);
    border-radius: 5px;
    padding: 1em ;
    font-size: 1em;
    color:var(--secondary-drakGrayish-Violent);
}
.invalid{
    color:var(--primary-Red);
    font-size: 13px;
    margin: .6em 1.3em;
}
.invalid-cvc{
    float:right;
    display:  block;
    transform: translateX(-30px)
}
.invalid-date{
    float:left;
}
.num-details input{
    display:inline;
    width:20%;
}
.num-details label{
    display:inline-block;
    margin-top:.5em;
}
label[for="cvc"]{
    margin-left:1.3em;
}
#cvc{
    width:30%;
}

#submit{
   display: block;
   margin-block:4em;
   margin-inline: auto;
   width:90%;
   color:var(--secondary-lightGrayish-Violent);   background-color:var(--secondary-veryDark-Violent);
   padding:.9em;
   border-radius: 5px;
   cursor:pointer;
}


.completed-msg{
    width: 100%;
    text-align: center;
}
.completed-msg h1{
    color: var(--secondary-veryDark-Violent);
}
.completed-msg h3{
    color:var(--secondary-drakGrayish-Violent);
}
.completed-msg button{
    display: block;
    width: 100%;
    margin-inline: auto;
    padding: 1em;
    background-color: var(--secondary-veryDark-Violent);
    color:var(--secondary-lightGrayish-Violent);
    border-radius: 6px;
    margin-top: 1em;
}


@media (min-width:900px) {
    body{
        overflow: hidden;
    }
    main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-components{
        background-image: url('images/bg-main-desktop.png');
        width: 35vw;
        height: 100vh;
        margin-right:3em;
        display: flex;
        flex-direction: column-reverse;
    }

    .backCard-component,
    .frontCard-component{
        min-width: 400px;
    }

    .card-front,
    .card-back{
        width:90%;
    }

    .frontCard-component{
        transform:translate(8em,-2em);
    }
    .backCard-component{
        position: relative;
        top:-4.5em;
        left:15em;
        z-index: 100;
    }

    .card-logo{
        transform: translate(0em,1em);
        width:20%;
    }

    .frontCard-component h2{
        transform: translate(0em,0em);
        font-size:25px;
        top:4em;
        width:86%;
        word-spacing: 7px;
    }

    .user-details{
        transform: translate(0em,3em);
        letter-spacing: 1px;
    }
    .user-details h3{
        font-size:18px;
        margin-right:2em;
        word-break: break-all;
        max-width:  200px;
        padding-inline:.7em .1em;
    }
    .exp-date{
        transform: translate(5.5em,0em);
    }
    .backCard-component .cvc-num{
        transform: translate(-4em,1em);
        font-size: 1.1em;
    }

    .form-components{
        position: relative;
        margin-right: 2em;
        max-width: 500px;
    }
    #submit{
        margin-inline: 0em 4em;
        width:83%;
        color:var(--secondary-lightGrayish-Violent);   background-color:var(--secondary-veryDark-Violent);
        padding:.9em;
        font-size: 17px;
    }
    label{
        margin-block: 1.2em;
    }
    input{
        margin-left:.1em;
    }
    .invalid-cvc{
        float:right;
        display:  block;
        transform: translateX(-124px)
    }

    input:hover{
        cursor:pointer;
    }
    .completed-msg{
        position: relative;
        left:-100px;
        top:-50px;
    }
    .completed-msg button{
        margin-top: 3em;
    }
    /* input:focus{
        border:  1px solid;
       border-image:  var(--primary-linear-gradient);
       border-image-repeat: stretch;
       border-image-slice: fill;
       border-image-outset: 12;
       border-image-width: 12;
    } */
}






